<section>
    <h2 class="text-main text-bold">Reset Password</h2>

    @if(step === 1){
        <form [formGroup]="verifyEmail" (ngSubmit)="verifyEmailSubmit()">
            <div class="mt-2">
                <label for="email">Email</label>
                <input formControlName="email" type="email" id="email" class="form-control">
            </div>
            <button [disabled]="verifyEmail.invalid" class="btn-main mt-2">Verify Email</button>
        </form>
    }
    @else if(step === 2){
        <form [formGroup]="verifyCode" (ngSubmit)="verifyCodeSubmit()">
            <div class="mt-2">
                <label for="resetCode">resetCode</label>
                <input formControlName="resetCode" type="text" id="resetCode" class="form-control">
            </div>
            <button [disabled]="verifyCode.invalid" class="btn-main mt-2">Verify Code</button>
        </form>
    }
    @else if(step === 3){
        <form [formGroup]="resetPassword" (ngSubmit)="resetPasswordSubmit()">
            <div class="mt-2">
                <label for="email">Email</label>
                <input formControlName="email" type="email" id="email" class="form-control">
            </div>
            <div class="mt-2">
                <label for="newPassword">New Password</label>
                <input formControlName="newPassword" type="password" id="newPassword" class="form-control">
            </div>
            <button [disabled]="resetPassword.invalid" class="btn-main mt-2">Reset</button>
        </form>
    }
</section>
